/**
* Shiny theme for AutoComic
*
* Credit where credit is due -- this is inspired by ComicPress.
* Tyler Martin is a hell of a designer.
*/

#autocomic.comic-container {
	background-color: transparent;
	}
#autocomic .comic-nav {
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	background-color: #e0e0e0;
	padding: 6px;
	width: 400px;
	border: 1px solid #999999;
	margin: 0 auto;
	}

/*  Navigation bar */
#autocomic ul.stripshow-comic-navbar{
	height: 50px;
	}
#autocomic ul.stripshow-comic-navbar li {
	height: 50px;
	width: 50px;
	background-image: url(autocomic-navbar.png);
	}
#autocomic ul.stripshow-comic-navbar li a:link, #autocomic ul.stripshow-comic-navbar li a:visited {
	width: 50px;
	height: 50px;
	}
#autocomic ul.stripshow-comic-navbar li a {
	background-image: url(autocomic-navbar.png);
    }

/**
* Alternate nav configuration
*/
#autocomic.nav-right ul.stripshow-comic-navbar {
	width: 50px;
	background-color: Red;
	}
